/*//*类选择器*/
.login{
    width: 100%;
    /*调整颜色透明度*/
    background: rgba(221, 170, 255, 0.5);
    height: 80px;
    text-align: center;
    /*font-size: 28px;*/
    font: bold 28px/50px "Microsoft Sans Serif";
}

input{
    border: solid #007aff 2px;
    margin: 20px;
    padding: 10px;
}
.box1{
    border: solid darkseagreen 2px;
    margin: 20px;
    padding: 20px;
    background: #90dfff;
    width: 500px;
    float: left;

}

.box2{
    border: solid #8496bc 2px;
    margin: 20px;
    padding: 20px;
    background: #fff051;
    height: 200px;
    width: 100px;
    float: left;
}
.box3{
    border: solid #8496bc 2px;
    margin: 20px;
    padding: 20px;
    background: #ffaaa7;
    height: 200px;
    width: 100px;
    float: left;
}
.box4{
    border: solid #8496bc 2px;
    margin: 20px;
    padding: 20px;
    background: #a23fff;
    height: 200px;
    width: 100px;
    float: left;
}

.box100{
    border: solid darkseagreen 2px;
    margin: 20px;
    padding: 20px;
    background: #90dfff;
    width: 500px;


}

.box22{
    border: solid #8496bc 2px;

    padding: 20px;
    background: #fff051;
    height: 200px;
    width: 100px;
    /*相对定位 相对于自己原来的文档流进行移动，占据位置*/
    position: relative;



}
.box33{
    border: solid #8496bc 2px;
    margin: 20px;
    padding: 20px;
    background: #ffaaa7;
    height: 200px;
    width: 100px;
    /*绝对定位 相对于父级元素移动，脱离自己原来的文档流，不占位置浮动在上面*/
    position: absolute;

}
.box44{
    border: solid #8496bc 2px;
    margin: 20px;
    padding: 20px;
    background: #a23fff;
    height: 200px;
    width: 100px;
    /*固定定位 相对于浏览器固定*/
    position: fixed;

}

